@use "../abstracts/mixins";

.sidebar {
  background-color: var(--clr-gray-dark1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//ul
.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;

  @include mixins.respond(tab-port) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      @include mixins.respond(tab-port) {
        margin: 0;
      }
    }

    @include mixins.respond(tab-port) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--clr-primary);
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    background-color: 0.1s;
  }
  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--clr-light);
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--clr-gray-light2);
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 2rem;
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;

      @include mixins.respond(tab-port) {
        justify-content: center;
      }
      @include mixins.respond(phone) {
        flex-direction: column;
        padding: 0.75rem 1rem;
      }
    }
  }

  &__icon {
    fill: currentColor;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    @include mixins.respond(phone) {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--clr-gray-light3);
  padding: 2.5rem;
  @include mixins.respond(tab-port) {
    display: none;
  }
}
