@use "../abstracts/mixins";

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.5s; //for closing animation
  background: rgba(var(--clr-black), 0.8); //overly color
  visibility: hidden; //"
  opacity: 0; //"

  //check browser support for backdrop filter (background blur)
  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(var(--clr-black), 0.3);
  }

  &__content {
    @include mixins.absCenter;
    background: var(--clr-white);
    width: 75%;
    border-radius: 5px;
    box-shadow: var(--shadow-light);
    display: block;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    transition: all 0.5s 0.2s;
    float: right;
    @include mixins.respond(tab-land) {
      width: 90rem;
    }
    @include mixins.respond(tab-port) {
      width: 63vw;
    }
    @include mixins.respond(phone) {
      width: 75vw;
    }
  }
  &__left {
    width: 33.3333333%;
    height: 100%;
    display: table-cell;
    @include mixins.respond(tab-port) {
      display: table-footer-group;
      height: auto;
      width: 25vw;
      &:first-child {
        display: none;
      }
    }
  }

  &__right {
    padding: 2rem 5rem;
    width: 66.6666667%;
    // float: left;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: inherit;
    @include mixins.respond(tab-land) {
      padding: 1.2rem 5rem 2rem 5rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    display: table-cell;
  }

  &__text {
    font-size: 1.6rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid var(--clr-gray-light2);
    hyphens: auto;
    @include mixins.respond(phone) {
      column-count: 1;
    }
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__close {
    transition: all 0.1s ease;
    &:visited,
    &:link {
      color: var(--clr-gray-dark1);
      font-size: 4rem;
      text-decoration: none;
      position: absolute;
      top: 2rem;
      right: 1rem;
      line-height: 1px;
    }
    &:hover {
      color: var(--clr-light);
      text-shadow: 0 2px 1rem var(--shadow-light);
      top: 1.8rem;
    }

    //click on background to close
    &-bg {
      width: 100vw;
      height: 100vh;
      cursor: default;
      @include mixins.absCenter;
    }
  }
}
